//  color choose

$color-white:         #fff;                    

$color-orange:        #E65C43;            

 $border-color:        #F25C43;             

$color-silver:        #666;
 
$bg-greybay:          #F5F6F6;

$bg-footer:            #30353D;

//  style for all purpose
$main-width :         940px;

$font-weight-light : 100;

$font-weight-medium : 400;

$font-weight-strong : 900;

$headline-height : 140px;


// font style for body 

$main-font:    'Roboto', sans-serif;

 // media quires... 

 $screen-sizes: ("959px":768px,"767px":460px,"459px":300px);


    
  



 